.color-violet {
    background-color: #7A4EAB;
  }
  .color-indigo {
    background-color: #4332CF;
  }
  .color-blue {
    background-color: rgb(131, 193, 255);
  }
  .color-green {
    background-color: rgb(128, 255, 116);
  }
  .color-yellow {
    background-color: #FAEB33;
  }
  .color-orange {
    background-color: #F19031;
  }
  .color-red {
    background-color: rgb(255, 168, 175);
  }
  .color-white {
      background-color: white;
  }
body{
    transition: background-color 1s ease;
}
.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;


    /* turn above on to see the edge of panels */
  }
#back-top {
	position: fixed;
	bottom: 30px;
  right:40px;
}

#back-top a {
	height:88px;
	width: 88px;
	display: block;
	text-align: center;
	font: 13px/100% Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgba(122, 122, 122, 0.651);
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: rgb(112, 112, 112);
}
/* arrow icon (span tag) */
#back-top span {
	width: 88px;
	height: 88px;
	display: block;
	margin-bottom: 7px;
	background: rgba(170, 170, 170, 0.562) url(../top.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;

}
#back-top a:hover span {
	background-color: rgba(165, 165, 165, 0.815);
}
.section {
    height: 100vh;
}
#imgfav{
    position:relative;
    top:35%;
    text-align:center;
}
.imgfav{
    margin-right:8%;
    width:5vw;
    height:auto;
}
#imgweb{
    position:relative;
    top:45%;
    text-align:center;
}
#text1{
    left:16.8%;
    top:40%;
    font-family: Microsoft JhengHei;
    font-size:3vmin;
    position: relative;
}
#text2{
    left:30%;
    top:34%;
    font-family: Microsoft JhengHei;
    font-size:3vmin;
    position: relative;
}
#text3{
    left:44.2%;
    top:28%;
    font-family: Microsoft JhengHei;
    font-size:3vmin;
    position: relative;
}#text4{
    left:55.8%;
    top:21.9%;
    font-family: Microsoft JhengHei;
    font-size:3vmin;
    position: relative;
}#text5{
    left:69.8%;
    top:15.8%;
    font-family: Microsoft JhengHei;
    font-size:3vmin;
    position: relative;
}
.imgweb{
    margin-right:3%;
}
#left{
    background-color:rgb(0, 255, 170);
    width:50vw;
    float:left;
    height:100vh;
}
#right{
    text-align:center;
}
#top{
width:100vw;
height:28vh;
}
#bottom{

    height:72vh;
    width:100vw;
}
#top2{

    height:28vh;
    width:100vw;
}
#bottom2{

    height:72vh;
    width:100vw;
}
#contacttitle-c{
position:relative;
top:40%;
font-family: Microsoft JhengHei;
color:white;
font-size:8vmin;
}
#contacttitle-e{
    position:relative;
    top:40%;
    color:white;
    font-size:5vmin;
}
.contact-icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition-duration: .3s !important;
    display:inline-block;
    margin-top:25%;
    padding-right:3%;
max-width:100%;
height:auto;
}
.contact-icon:hover{
    filter:none;
}
#article {
    width: 45%;
    margin-top: 15%;
    margin-left: 2%;
    float: left;
    margin-right: 2%;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.7vmin;
}
#title-e {
    text-align: center;
    font-family: Microsoft JhengHei;
    font-size: 10vmin;
    color: white;
    z-index: 20;
    top: 35%;
}
#title-line {
    border-bottom: 1px solid #ffffff;
    width: 20vw;
    top: 43%;
    position: absolute;
    left: 40%;
    z-index: 22;
}

#title-c {
    text-align: center;
    font-family: Microsoft JhengHei;
    font-size: 5vmin;
    color: rgb(184, 184, 184);
    z-index: 21;
}

#titlefav{
    text-align: center;
    font-size:5vmin;
    top:15%;
    font-family: Microsoft JhengHei;
    color:rgb(65, 65, 65);
}
#vline {
    border-left: 1px solid #b9b9b9;
    height: 95vh;
    float: left;
    margin-top: 1%;
}
#hline {
    border-top:1px solid #c0c0c0;
    width:90vw;
    position: absolute;
    top:30%;
left:5%;
}
.headerlink:hover {
    background-color: #e9e9e9;
}

.headerlink {
    font-size: 18px;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    margin-top: -8px;
}

.main-section {
    background-image: url('https://i.imgur.com/kJb4iqP.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow:hidden;
}

.main-section::after {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0, rgba(112, 112, 112, 0.3));
    display: block;
    position: relative;
    height: 100vh;
    content: '';
}

.image01 {
    width:40vw;
    height:90vh;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    outline: 2px solid white;
    float: right;
margin-right:6%;
    margin-top: 3%;

}

.image01 img {
    max-width: 100%;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}

.image01 .ovrly {
    background: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0;
    height: 95vh;
    position: absolute;
    width: 40vw;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.image01 .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.image01 .buttons .fa {
    background: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(50, 50, 50, 0.9);
    display: inline-block;
    margin: 0 1px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

.image01:hover img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.image01:hover .ovrly {
    opacity: 1;
}

.image01:hover .buttons .fa {
    opacity: 1;
}

/*.typed-cursor{
    font-size: 20vmin;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color:white;
    position:relative;
}*/

/* ---------------------------------------------------------------------------------- */

.cd-section {
    min-height: 100%;
    position: relative;
}

.cd-section h1, .cd-section p {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 768px;
    text-align: center;
}

.cd-section h1 {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 1.25rem;
}

.cd-section p {
    line-height: 1.6;
}

@media only screen and (min-width: 768px) {
    .cd-section h1 {
        font-size: 30px;
        font-size: 1.875rem;
    }
    .cd-section p {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 2;
    }
}

/* No Touch devices */

.cd-nav-trigger {
    display: none;
}

.no-touch #cd-vertical-nav {
    position: fixed;
    right: 40px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.no-touch #cd-vertical-nav li {
    text-align: right;
}

.no-touch #cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.no-touch #cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
}

.no-touch #cd-vertical-nav a span {
    float: right;
    display: inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

.no-touch #cd-vertical-nav a:hover span {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.no-touch #cd-vertical-nav a:hover .cd-label {
    opacity: 1;
}

.no-touch #cd-vertical-nav a.is-selected .cd-dot {
    background-color: rgb(255, 100, 100);
}

.no-touch #cd-vertical-nav .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #668fff;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.no-touch #cd-vertical-nav .cd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

/* Touch devices */

.touch .cd-nav-trigger {
    display: block;
    z-index: 2;
    position: fixed;
    bottom: 30px;
    right: 5%;
    height: 44px;
    width: 44px;
    border-radius: 0.25em;
    background: rgba(255, 255, 255, 0.9);
}

.touch .cd-nav-trigger span {
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: #3e3947;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
}

.touch .cd-nav-trigger span::before {
    top: -9px;
}

.touch .cd-nav-trigger span::after {
    bottom: -9px;
}

.touch #cd-vertical-nav {
    position: fixed;
    z-index: 1;
    right: 5%;
    bottom: 30px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 0.25em;
    background-color: rgba(255, 255, 255, 0.9);
}

.touch #cd-vertical-nav a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}

.touch #cd-vertical-nav a span:first-child {
    display: none;
}

.touch #cd-vertical-nav a.is-selected span:last-child {
    color: #d88683;
}

.touch #cd-vertical-nav.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.touch #cd-vertical-nav.open+.cd-nav-trigger {
    background-color: transparent;
}

.touch #cd-vertical-nav.open+.cd-nav-trigger span {
    background-color: rgba(62, 57, 71, 0);
}

.touch #cd-vertical-nav.open+.cd-nav-trigger span::before, .touch #cd-vertical-nav.open+.cd-nav-trigger span::after {
    background-color: #3e3947;
    height: 3px;
    width: 20px;
    border-radius: 0;
    left: -8px;
}

.touch #cd-vertical-nav.open+.cd-nav-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
}

.touch #cd-vertical-nav.open+.cd-nav-trigger span::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 0;
}

.touch #cd-vertical-nav li:last-child a {
    border-bottom: none;
}

@media only screen and (min-width: 768px) {
    .touch .cd-nav-trigger, .touch #cd-vertical-nav {
        bottom: 40px;
    }
}