.cover{
width:250px;
height:400px;
border: 1px black solid;
}
.cover2{
    width:250px;
    height:400px;
margin-left:10px;
border: 1px black solid;
}

.booklink{
left:130px;
bottom:5px;
position: relative;
    }

    .div1{
    border: 2px rgb(0, 0, 0) solid;
    padding: 9px;
    display: inline-block;
    border-radius: 5px;
    }