#banner{
    max-width: 100%;
    height: auto;
    z-index:-1;
    position:absolute;
    left:0;
    top:0;
    min-width: 1600px;
}
.welcome{
    font-size:20vmin;
    color:white;
    z-index: 1;
    text-align: center;
    font-family: 'Vibur', cursive;

}
.navbar {
    padding: 5px 50px 5px 50px;
    text-align: center;
    color: white;
}
#nav {
    border:1px solid grey;
    width: 100%;
    margin-top:2px;
    text-align: center;
    display: block;
}
#banner{
    max-width: 100%;
    height: auto;
    z-index:-1;
    position:absolute;
    left:0;
    top:0;
}
.text{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    font-family: 'Josefin Slab', serif;
}
.text2{
    padding-right: 40px;
    padding-left: 40px;
    font-size: 20px;
    font-family: 'Josefin Slab', serif;
}
#footer{
    background-color: rgb(207, 207, 207);
    padding: 20px 0px;
}

.hover:hover {
    background-color: #757575;
}
.hidden:hover {
    opacity: 1;
}
.link {
    text-decoration:none;
    opacity:0
}
#back-top {
	position: fixed;
	bottom: 30px;
	margin-left: 50px;
}
#back-top a {
	width: 78px;
	display: block;
	text-align: center;
	font: 13px/100% Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgba(122, 122, 122, 0.651);
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: rgb(112, 112, 112);
}
/* arrow icon (span tag) */
#back-top span {
	width: 80px;
	height: 80px;
	display: block;
	margin-bottom: 7px;
	background: rgba(170, 170, 170, 0.562) url(../top.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: rgba(165, 165, 165, 0.815);
}