body{
overflow-x: hidden;
}
.parallax {
    /* The image used */
    background-image: url("../PHOTOS/shoot.gif");

    /* Set a specific height */
    height: 1000px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Vibur', cursive;
    font-size:20vmin;
}

.title-banner {
    position: absolute;
    top:80px;
    left:60px;
    font-family: 'Spectral SC', serif;
    color:white;
    font-size: 7vmin;

}
.title-banner2 {
    position: absolute;
    top:80px;
    font-family: 'Spectral SC', serif;
    color:white;
    font-size: 7vmin;
right:60px;

}
.text-banner{
    position: absolute;
    top:175px;
    left:60px;
    color:white;
    font-size: 3vmin;

}
.text-banner2{
    position: absolute;
    top:175px;
    right:60px;
    color:white;
    font-size: 3vmin;
    right:60px;
}
.img-effect{
    max-width: 100%; 
    width: 99vw;
    margin: auto;
  }
  
  .img-effect::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0, rgba(65, 80, 47, 0.1));
    margin-top: -500px;
    height: 400px;
    width: 100%;
    content: '';
  }
figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  figure:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  figure {
      width:99vw;
      height:500px;
      overflow:hidden;
  }