@import url('https://fonts.googleapis.com/css?family=Pacifico|Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body{
    margin:0px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #464646;
}

.imageleft{
    background:  linear-gradient(rgba(0,0,0,0.85), rgba(164,222,102, 0.10)),
    url(PHOTOS/book.jpg);
    background-size: cover;
    background-position: center;
    transition: all .2s ease-in-out;
    display:block;
    float:left;
    width:33vw;
    height:100vh;
    margin-left:8px;
}
.imagecenter{
    background:  linear-gradient(rgba(0,0,0,0.85), rgba(164,222,102, 0.10)),
    url(PHOTOS/misc.jpg);
    background-size: cover;
    background-position: center;
    transition: all .2s ease-in-out;
    display:inline-block;
    margin: auto;
    position: static;
    width:33vw;
    height:100vh;
}
.imageright{
    background:  linear-gradient(rgba(0,0,0,0.85), rgba(164,222,102, 0.10)),
    url(PHOTOS/song.jpg);
    background-size: cover;
    background-position: center;
    transition: all .2s ease-in-out;
    display:block;
float:right;
margin-right:8px;
width:33vw;
height:100vh;
}
.button{
    border-radius: 30px;
    color: #fff;
    background-color: #fcad26;
    padding: 1.5%;
margin:auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    width: 150px;
    display:absolute;
    z-index: -122;
}
.button:hover{
    background-color:#fcc567;
    
}
.title-c{
color:white;
font-size: 4vmin;
text-align: center;
}

.title-e{
font-family: 'Permanent Marker', cursive;
color:white;
font-size: 8rem;
text-align: center;
margin-bottom:60px;
font-size-adjust:0.6;
}
.title-e2{
    font-family: 'Rock Salt', cursive;
    color:white;
    font-size: 8rem;
    text-align: center;
    margin-bottom:20px;
    font-size-adjust:0.55;
    }

    .title-e3{
        font-family: 'Pacifico', cursive;
        color:white;
        font-size: 7rem;
        text-align: center;
        margin-bottom:20px;
        font-size-adjust:0.5;
        }
.imageleft:hover{
    transform: scale(1.1);
}
.imagecenter:hover{
    transform: scale(1.1);
}
.imageright:hover{
    transform: scale(1.1);
}