
.lyric-c{
    font-size: 24px;
    margin-left:50px;
display:inline;

    
    font-family: Microsoft JhengHei;
}
.lyric-c:hover{
    background-color: #e4e4e4;
    box-shadow: -5px 0 0 rgb(143, 143, 143)
}

.title-c{
    font-size: 10vmin;
    display: inline-block;
    position: absolute;

    margin-left:35px;
    margin-top:-10px;
}
.title-e{
    font-size: 36px;
color: #9c9c9c;
margin-left:40px;
margin-top:120px;
display: inline-block;
position: absolute;
}
.title-e:hover{
    color: rgb(68, 68, 68);
}
#help{
color:#aaaaaa;
font-size: 14px;
position: absolute;
display: inline-block;
left:10px;
margin-top:330px;
}