
.item {
  position: relative;
  overflow: hidden;
  width: 318px;
}
.item img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.image {

    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    padding-bottom:20px;
}
.title-c{
font-size: 18vmin;
position: absolute;
color: white;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
white-space:nowrap;

}
.title-e{
    font-size: 10vmin;
    position: absolute;
    color: white;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space:nowrap;

}