.lyric-e{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
<<<<<<< HEAD
    margin-left:50px;
    display:inline-block;
}
.lyric-c{
    font-size: 16px;
    margin-left:50px;
    clear: left;

    font-family: Microsoft JhengHei;
}
.lyric-e:hover{
    background-color: #e4e4e4;
    box-shadow: -5px 0 0 rgb(143, 143, 143)
}

.title-c{
    font-size: 8vmin;
    float: right;
    margin-right:570px;
    margin-top:15px;
=======
    padding-left:50px;
}
.lyric-c{
    font-size: 16px;
    padding-left:50px;
}
.lyric-e:hover{
background-color: #b9b9b9;
border-left: 5px solid #646464;
font-size: 22px;
}
.lyric-c:hover{
    background-color: #b9b9b9;
    border-left: 5px solid #646464;
    font-size: 16px;
    }
.title-c{
    font-size: 12vmin;
    float: right;
    margin-right:870px;
    font-family: Microsoft JhengHei;
>>>>>>> 74c489e9bb67fc4fcfc02cc68a93cb469a53464e
}
.title-e{
    font-size: 36px;
color: #9c9c9c;
margin-left:40px;
margin-top:150px;
display: inline-block;
position: absolute;
}
.title-e:hover{
    color: rgb(68, 68, 68);
}
