p {
    font-family: Microsoft JhengHei;
}

.title {
    font-size: 7vmin;
}

.buttonsgroup {
    text-align: center;
}

.button {
    width: 200px;
    height: 60px;
    font-size: 2vmin;
    display:inline-block;
    margin-right:3%;
    color:white !important;
}