.clockdate-wrapper {
    background-color: #333;
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:15%;
}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-27px;
    left:-10px;
}
#date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}
body {
    background-color: #222222;
    color: white;
  }
  
  .input {
    font-size: 2em;
    max-width: calc(100vw - 12px)
  }
  .input::after {
    content: '';
    position: relative;
    display: block;
    border-bottom: 3px solid #333333;
    top: -3px;
    isolation: isolate;
  }
  
  .inner {
    position: relative;
    display: inline-block;
    padding: .5em 0;
    border-bottom: 3px solid white;
    z-index: 1;
    font-family: Roboto Slab, sans-serif;
  }
  .inner:focus {
    border-color: #fbc91b;
  }
  .inner:empty {
    border-color: transparent;
    width: 100%;
  }
  .inner:empty::before {
    content: attr(placeholder);
    cursor: text;
    color: #757575;
  }
  
  .inner:focus {
    outline: 0;
  }