p {
    color: white;
    font-family: 微軟正黑體;
}
#title2 {
    color: #ACAAAA;
    font-size: 10px;
    margin:1px 0px 0px 0px;
    text-align: center;
}
#title {
    font-weight: 900;
    font-size: 63px;
    margin:10px 0px 0px 0px;
    text-align: center;
}
a {
    text-decoration: none;

}
.navbar {
    padding: 5px 50px 5px 50px;
    text-align: center;
    color: white;
}
#nav {
    border:1px solid grey;
    width: 100%;
margin-top:2px;
    text-align: center;
    display: block;
}
.table {
    text-align: center;
    height:10px;
    color:white;
}
#tablebgcolor {
    background-color: rgb(75, 75, 75);
    border: 1px #A8A8A8;
    width:30%;
    height:150px;
    border-collapse: collapse;
    margin-right: 5px;
    z-index: -1;
    float: center;
    min-width: 600px;
    font-family: 微軟正黑體;
}
.changecolor:hover {
    background-color:#6D6D6D;
}
#name {
    font-size: 40px;
    border: 10px solid #FFFCFC;
    padding: 20px 30px 20px 30px;
    font-weight: 900;
    width:20%;
    margin:auto;
    text-align: center;
}
.texttitle {
display: inline;
padding-left: 20px;
font-size: 38px;
border-left: 1px solid #ffffff;
padding-bottom: 10px;
font-weight: 600;
}
.text {
margin-left:106px;
    font-size: 24px;
    padding-top:0px;
    padding-bottom: 5px;
    border-left: 1px solid #ffffff;
    display: inline;
    padding-left:20px;
}
body {
    background-image: url('https://i.imgur.com/3Oal529.jpg');
    background-repeat: repeat-y;
}
.pic {
    float:right;
    width:500px;
    background-color:white;
    margin-right:20px;
    padding:5px;
    margin-bottom:30px;
}